[tool.poetry]
name = "pySigma"
version = "0.11.18"
license = "LGPL-2.1-only"
description = "Sigma rule processing and conversion tools"
authors = ["Thomas Patzke <thomas@patzke.org>"]
readme = "README.md"
repository = "https://github.com/SigmaHQ/pySigma"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU Lesser General Public License v2 (LGPLv2)",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",    
    "Topic :: Security"
]
packages = [
    { include = "sigma" }
]

[tool.poetry.dependencies]
python = "^3.9"
packaging = "^24.1"
pyparsing = "^3.1"
pyyaml = "^6.0"
requests = "^2.31"
jinja2 = "^3.1"

[tool.poetry.group.dev.dependencies]
black = "^24.4.2"
mypy = "^1.8"
pip = "^24.2"
pre-commit = "^3.5"
pylint = "^3.0"
pytest = "^8.0"
pytest-cov = "^4.1"
pytest-mypy = "^0.10"
Sphinx = "^7.1"
defusedxml = "^0.7"

[tool.black]
line-length = 100

[build-system]
requires = ["poetry-core>=1.8.1"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
filterwarnings = ["ignore::DeprecationWarning"]
