name: Test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os: [ 'ubuntu-20.04', 'windows-2019', 'macos-10.15' ]
        python-version: [ '3.8', '3.9' ]
        poetry-version: [ '1.1' ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install dependencies
        run: poetry install --no-root
      - name: Run tests
        run: poetry run pytest
      - name: Store coverage for badge
        if: ${{ runner.os == 'Linux' }}
        run: echo COVERAGE=$(poetry run python print-coverage.py) >> $GITHUB_ENV
      - name: Create coverage badge
        if: ${{ runner.os == 'Linux' }}
        uses: schneegans/dynamic-badges-action@v1.1.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 11b31b4f709b6dc54a30d5203e8fe0ee
          filename: SigmaHQ-sigmatools-coverage.json
          label: Coverage
          message: ${{ env.COVERAGE }}
          color: green
